@font-face{
    font-family: "font-1";
    src: url(../fonts/DancingScript-Regular.ttf);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: "font-1", cursive, sans-serif;
}
body{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
}
#container {
    scroll-behavior: smooth;
    max-width: 100%;
    padding: 1.5em;
}

button {
    background-color: transparent !important;
}
.icon{
    display: none;
}

header {
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    position: fixed;
    padding:0;
    top:0;
    left: 0;
    box-shadow: 0px 9px 20px -4px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 9px 20px -4px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 9px 20px -4px rgba(0,0,0,0.10);
}
header input{
    width: 90%;
    padding: .5em 1em;
    font-size: 2em;
}
header button{
    width: fit-content;
    font-size: 1.9em;
    margin-right: 20px;
}

form{
    width: 100%;
    display: flex;
}

input {
    border: none;
    outline: none;
}
button {
    border: none;
    outline: none;
    background-color: white;
}

header button img {
    width: 1.2em;
    margin-top: 10px;
}

#container-body{
    margin: 3em auto;
}

.todo:first-child {
    margin-bottom: 0;
}

span.icon-trash {
    width: fit-content;
}

.fa-trash {
    font-size: 22px;
}

.todo.active {
    z-index: 0;
    background-color: #01a163;
    color: white !important;
    opacity: .5;
}

.todo.active input[type=number]{ 
    color: white !important;
}
.todo.active .content button.icon-trash img.img-trash {
    filter: invert(1);
}

.todos{
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    padding: 1em;
}

.todo{
    padding: 0 1em;
    transition: opacity .8s;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
    max-width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.30);
}
.content, .input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content {
    margin: .3em auto;
}

.input {
    justify-content: space-around;
}

.content p {
    font-size: 1.8em;
    max-width: 200px;
    overflow: hidden;
}

.todo .content button.icon-trash img.img-trash {
    width: 30px;
}

.todo input[type=number]{
    font-size: 1.2em;
    max-width: 50px;
    padding: 2px 5px;
    border: none;
    outline: none;
    text-align: right;
    background-color: transparent !important;
}

.todo .price, .todo .quantity{
    width: fit-content;
}

.todo span {
    font-size: 1.2em;
    font-weight: bold;
}
footer{
    width: 100%;
    display: flex;
    align-items: center;
    padding: .2em 1em;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    -webkit-box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.1); 
    box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.1);
}

footer h3{
    width: 70%;
    font-size: 2em;
}

footer p{
    padding-right: 0em;
    text-align: left;
    font-size: 2em;
    overflow-x: hidden;
}

footer img {
    width: 40px;
}
@media screen and (min-width:320px){
   
    .todo input[type=text]{
        margin: 0 .5em;
    }
}

@media screen and (min-width:300px){
   
    .todo input[type=text]{
        margin: 0 .3em;
    }

    footer h3{
        width: 50%;
    }
}